<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</head>
<body>
  <% students.map((student)=>{%>
        <h3><%= student.firstName %> <%= student.lastName %></h3>
        <h3><%= student.email %></h3>
        <h3><%= student.password %></h3>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fmulti&psig=AOvVaw1qzUpeSdMQTwipsE5YYQI_&ust=1722046554112000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLCxhrzRw4cDFQAAAAAdAAAAABAE">
        <h3><%= student.registrationDate %></h3>
        <form action="/student/delete" method="post">
          <input type="hidden" value="<%=student._id%>"  name="id"> 
          <button>Delete</button>
        </form>
      
        
        <button data-toggle="modal" data-target="#exampleModal">Edit</button>
        


        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
        <input type="text" value="<%=student._id%>" name="id">
        

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/student/edit" method="post">
      <div class="modal-body">
        <input type="hidden" value="<%=student._id%>" name="id">

        <input type="text" placeholder="firstName" class="form-control my-2" name="firstName">
        <input type="text" placeholder="lastName" class="form-control my-2" name="lastName">
        <input type="text" placeholder="email" class="form-control my-2" name="email">
        <input type="text" placeholder="password" class="form-control my-2" name="password">



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update Details</button>
      </form>
      </div>
    </div>
  </div>
</div>

        <% }) %> 

        
                    


    

</body>
</html>

 